<mat-card>
    <h1 style="text-align: center;font-size: 200%;">Gain&Gain</h1>
    <div class="row">
        <div class="col-md"></div>
        
        <div class="col-md-10">
            <div class="card">
          We are a  Team that aspires to  provide quality questions,concepts,sample papers to our visitors
          through our website and various social media Pages. Our questions are competent enough to deliver 
          you on  understanding of level that is maintained in various comptetive exam such as GATE,BARC etc.
          <p>Here we also provide Previuos Year University Paperin order to help students with their exam preprations.</p>
          <p>We keep on providing  Aptitude Problems as well as various questions that are asked in interview to boost
              up your Placement Preprations
           
          </p>
        </div>
        
    </div>
        <div class="col-md"></div>
    </div>

</mat-card>