 <div class="row">
 <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <img src="../../assets/Contact/Gmail.png" class=" img-fluid rounded mx-auto d-block" alt="gainndgain Gmail"> 
            <a  href="https://mail.google.com/" > gainndgain@gmail.com</a>
            <hr>
            <img src="../../assets/Contact/instagram.png" class=" img-fluid rounded mx-auto d-block" alt="gainndgain Instagram"> 
            <a  href="https://instagram.com/gainndgain?igshid=a5ive16oymaj" >gainndgain</a>
            <hr>
            <img src="../../assets/Contact/Facebook.png" class=" img-fluid rounded mx-auto d-block" alt="gainndgain Facebook"> 
            <a  href="https://www.facebook.com/GainGain-100725088303326/" >Gain&Gain</a>
            <hr>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>