<html>
  <head>
  <meta content="Apptitude Quizes ,Reasoning,Banking,GATE" name="Description" />
  <meta  name="keywords"  content="Gate CS ALL subject free notes, gainngain,GainnGain,Gain&Gain,Placement question" />
  <meta  name="keywords"  content="Gain&Gain" />
	<meta name="keywords" content="Gain&Gain - GATE FREE NOTES UNIVERSITY PAST YEAR ANSWERS PROGRAMMING QUIZ, CS ,IT ,MECHNICAL" property="og:title" />
	<meta content="website" property="og:type" />
	 <meta content="https://www.gainngain.in/#/aptitude" property="og:url" />
  </head>
    <body>
      <mat-card class="w-50">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Quiz 1
                </mat-panel-title>
              </mat-expansion-panel-header> 
                <div class="row">
                        <div class="col-md-11">
                            <div class="card">
                          <p class="row">Q 1.  A can do a piece of work in 4 days. B can do it in 5 days. With the assistance of C they completed the work in 2 days. Find in how many days can C alone do it?</p>  
                            </div>
                            <div class="option">
                            <div class="row">
                             <a (click)="wrong0( )">A) 4</a>
                            </div> 
                            <div class="row ">
                             <a (click)="wrong0( )">B) 5</a>
                            </div> 
                            <div class="row" >
                             <a (click)="wrong0( )">C)10</a>
                            </div> 
                            <div class="row" id="right0">
                             <a  (click)="right0( )">D)20</a>
                             </div>
                            </div>
                            
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <div class="card">
                      <p class="row">Q 2. Find the one which does not belong to that group ?</p>  
                        </div>
                        <div class="option">
                        <div class="row">
                         <a (click)="wrong1( )">A) 37</a>
                        </div> 
                        <div class="row " id="right1">
                         <a (click)="right1( )">B) 15</a>
                        </div> 
                        <div class="row" >
                         <a (click)="wrong1( )">C)67</a>
                        </div> 
                        <div class="row" >
                         <a  (click)="wrong1( )">D)17</a>
                         </div>
                        </div>
                        
                
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="card">
                  <p class="row">Q 3.  In how many different ways can four books A, B, C and D be arranged one above another in a vertical order such that the books A and B are never in continuous position?</p>  
                    </div>
                    <div class="option">
                    <div class="row" id="right2">
                     <a (click)="right2( )">A) 12</a>
                    </div> 
                    <div class="row " >
                     <a (click)="right2( )">B) 15</a>
                    </div> 
                    <div class="row" >
                     <a (click)="wrong2( )">C) 9</a>
                    </div> 
                    <div class="row" >
                     <a  (click)="wrong2( )">D) 14</a>
                     </div>
                    </div>
                    
            
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="card">
              <p class="row">Q 4.  Q is as much younger than R as he is older than T. If the sum of the ages of R and T is 50 years, what is definitely the difference between R and Q's age?</p>  
                </div>
                <div class="option">
                <div class="row" >
                 <a (click)="wrong3( )">A) 2 year</a>
                </div> 
                <div class="row " >
                 <a (click)="wrong3( )">B) 1 year</a>
                </div> 
                <div class="row" >
                 <a (click)="wrong3( )">C) 12 years</a>
                </div> 
                <div class="row" id="right3" >
                 <a  (click)="right3( )">D) Data inadequate</a>
                 </div>
                </div>
                
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="card">
          <p class="row">Q 5.  P and Q started a business with respective investments of Rs. 4 lakhs and Rs. 10 lakhs. As P runs the business, his salary is Rs. 5000 per month. If they earned a profit of Rs. 2 lakhs at the end of the year, then find the ratio of their earnings?</p>  
            </div>
            <div class="option">
            <div class="row" >
             <a (click)="wrong4( )">A) 3 : 5</a>
            </div> 
            <div class="row "  id="right4">
             <a (click)="wrong4( )">B) 1 : 1</a>
            </div> 
            <div class="row" >
             <a (click)="wrong4( )">C) 5: 2</a>
            </div> 
            <div class="row" >
             <a  (click)="right4( )">D) 2: 5</a>
             </div>
            </div>
            
    
    </div>
    </div>
            </mat-expansion-panel>
          </mat-accordion>
           
    </mat-card>
     
    </body>
  
</html>
