<div class="main">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <img src="../../assets/Home/edu_ilastration.png" class="img-fluid" alt="Gain&Gain" style="margin-top:3%;">
    </div>
    <div class="col-md-3"  >
      <p style="font-size: 300%;color: white;" >Learn Your Favourite Code Online</p>
    <a class="btn" href="#courses" >Browse Our Courses</a></div>
</div>
<div style="text-align: center; font-size: 250%;"class="courses">Courses</div>
</div>
<div class="courses" style="margin-top: 13%;">
<app-courses id="courses"></app-courses>
</div>