<div class="row">
    <div class="col-md"></div>
    <div class="col-md-8">
        <div class="card syllbous">
            <h1 style="text-align: center;">GATE CS 2020 Syllabus</h1>
            <h3> Syllabus for General Aptitude (GA):</h3>
             <span><b>1. Numerical Ability:</b>Numerical computation, numerical estimation, numerical reasoning and data interpretation.</span> 
             <span><b>2.Verbal Ability:</b>  English grammar, sentence completion, verbal analogies, word groups, instructions, critical reasoning and verbal deduction.</span>
             <h3>Computer Science and Information Technology (CS and IT):</h3>
             <b>Section-1: Engineering Mathematics</b> 
               <span><h5>Discrete Mathematics:</h5>Propositional and first order logic. Sets, relations, functions, partial orders and lattices. Groups. Graphs: connectivity, matching, coloring.</span>
               <span><h5>Combinatorics:</h5> recurrence relations, counting,generating functions.</span>
               <span><h5>Linear Algebra:</h5>Matrices, determinants, system of linear equations, eigenvalues and eigenvectors, LU decomposition.</span>
               <span><h5>Calculus:</h5>Limits, continuity and differentiability. Maxima and minima. Mean value theorem. Integration.</span>
               <span><h5>Probability:</h5>Random variables. Uniform, normal, exponential, poisson and binomial distributions. Mean, median, mode and standard deviation. Conditional probability and Bayes theorem.</span>
               <h5>Section 2: Digital Logic</h5>
               <span>Boolean algebra. Combinational and sequential circuits. Minimization. Number representations and computer arithmetic (fixed and floating point).</span>
               <h4>Section 3: Programming and Data Structures</h4>
               <span>Programming in C. Recursion. Arrays, stacks, queues, linked lists, trees, binary search trees, binary heaps, graphs</span>            
               <h4>Section 4: Algorithms</h4><span>Searching, sorting, hashing. Asymptotic worst case time and space complexity. Algorithm design techniques: greedy, dynamic programming and divide-and-conquer. Graph search, minimum spanning trees, shortest paths.
            </span>
            <h4>Section 5: Computer Organization and Architecture</h4>
               <span>Machine instructions and addressing modes. ALU, data-path and control unit. Instruction pipelining. Memory hierarchy: cache, main memory and secondary storage; I/O interface (interrupt and DMA mode).</span>
            <h4>Section 6: Theory of Computation</h4><span>Regular expressions and finite automata. Context-free grammars and push-down automata. Regular and context-free languages, pumping lemma. Turing machines and undecidability.</span>
            <h4>Section 7: Compiler Design</h4>
            <span>
                Lexical analysis, parsing, syntax-directed translation. Runtime environments. Intermediate code generation.
            </span>
            <h4>Section 8: Operating System</h4>
            <span>Processes, threads, inter-process communication, concurrency and synchronization. Deadlock. CPU scheduling. Memory management and virtual memory. File systems.
            </span>
            <h4>Section 9: Databases</h4>
            <span>ER-model. Relational model: relational algebra, tuple calculus, SQL. Integrity constraints, normal forms. File organization, indexing (e.g., B and B+ trees). Transactions and concurrency control.</span>
            <h4>Section 10: Computer Networks</h4>
            <span>Concept of layering. LAN technologies (Ethernet). Flow and error control techniques, switching. IPv4/IPv6, routers and routing algorithms (distance vector, link state). TCP/UDP and sockets, congestion control. Application layer protocols (DNS, SMTP, POP, FTP, HTTP). Basics of Wi-Fi. Network security: authentication, basics of public key and private key cryptography, digital signatures and certificates, firewalls.</span>
           <b style=" margin-top:3%;">Quick Links</b>
           <li>
            <a routerLink="/cquiz">C  quiz</a>
           </li>
           <li>
               <a routerLink="/aptitude">Aptitude</a>
           </li>
        </div>
    </div>
    <div class="col-md"></div>
</div>