body{
    margin-top: 5%;
    padding:0px;
}
*{
    margin-bottom: 4%;
}
.row{
    margin-left: 5%;
    margin-right: 15px;
}
img{
    max-height: 200px;
    min-height: 100px;
}
img:hover{
    size:105%;
}
a{
   margin-left: 20%;
}
@media only screen and (max-width: 768px) {
    .main{
        margin-top: 16%;
        margin-left: 25%;
    }
   
}
@media only screen and (max-width:540px) {
    .main{
        margin-left: 3.5%;
        margin-top: 30%;
    }
}