<div class="row main" >
  <div class="col-md-1"></div>
    <div class="col-md">
        <div class="card" style="width: 18rem;height: 26rem;">
            <img class="card-img-top" src="../../assets/courses/c (1).jpg" alt="Card image cap" style="min-height:50%!important">
            <div class="card-body">
              <h5 class="card-title">Learn C programming</h5>
              <p class="card-text">Learn C programming From Absolute Begining to Advance.Let us go.......</p>
              <a href="#" class="btn btn-primary" routerLink="/c">Learn Course</a>
            </div>
          </div>
    </div>
    <div class="col-md">
        <div class="card" style="width: 18rem;height: 26rem;">
            <img class="card-img-top" src="../../assets/courses/Toc (1).jpg" alt="C language" style="min-height:50%!important">
            <div class="card-body">
              <h5 class="card-title">Theory Of Compution</h5>
              <p class="card-text"> Theory of Compution From Absolute Begining to Advance.Let us go.......</p>
              <a href="#" class="btn btn-primary" routerLink="/Toc">Learn Course</a>
            </div>
          </div>
    </div>
    <div class="col-md">
        <div class="card" style="width: 18rem;height: 26rem;">
            <img class="card-img-top" src="../../assets/courses/OS1 (1).jpg" alt="OS" style="min-height:50%!important"> 
            <div class="card-body">
              <h5 class="card-title">Operating System</h5>
              <p class="card-text"> Operating System From Absolute Begining to Advance.Let us go.......</p>
              <a href="#" class="btn btn-primary" routerLink="/OS">Learn Course</a>
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
</div>

